:root {
	background-color: black
}

body {
	text-align: center;
}


p {
	color: lightgreen;
}

em {
	color: white;
}

img {
	padding: 50px;
	margin: 100px;
	border: 25px;
	border-color: seagreen;
}

a:visited {
	color: lightblue;
}

a:active {
	font-size: 26px;
}

a:hover {
	color: white;
	text-decoration: none;
	background-color: tomato;
}

:focus {
	background-color: lightyellow;
}

h2 {
	color: white
}
















